In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
path="/home/stan/Documents/dev/psignal/Data/"
pureTwt='twitter_noretweets_daily.csv'

sym_file="symbology.csv"
reTwt='twitter_withretweets_daily.csv'
stockTwt='stocktwits_daily.csv'
#path="C:\\Users\\stan\\Google Drive\\MSc BA\\Courses\\Data Analytics\\Data\\"
#path="C:\\Dropbox\\Google\\MSc BA\\Courses\\Data Analytics\\Data\\"

In [4]:
sym=pd.read_csv(filepath_or_buffer=path+sym_file,delimiter=",",header=0)

In [5]:
ptwt=pd.read_csv(filepath_or_buffer=path+pureTwt,delimiter=",",header=0)

In [6]:
ptwt.head()

,SOURCE,SYMBOL,TIMESTAMP_UTC,BULLISH_INTENSITY,BEARISH_INTENSITY,BULL_MINUS_BEAR,BULL_SCORED_MESSAGES,BEAR_SCORED_MESSAGES,BULL_BEAR_MSG_RATIO,TOTAL_SCANNED_MESSAGES
0,twitter_noretweets,10GEN,2011-04-08T04:00:00Z,0,0,0,0,0,0,2
1,twitter_noretweets,10GEN,2011-04-16T04:00:00Z,0,0,0,0,0,0,3
2,twitter_noretweets,10GEN,2011-04-17T04:00:00Z,0,0,0,0,0,0,2
3,twitter_noretweets,10GEN,2011-04-20T04:00:00Z,0,0,0,0,0,0,1
4,twitter_noretweets,10GEN,2011-07-19T04:00:00Z,0,0,0,0,0,0,3

In [13]:
ptwt.columns

Index([u'SOURCE', u'SYMBOL', u'TIMESTAMP_UTC', u'BULLISH_INTENSITY',
       u'BEARISH_INTENSITY', u'BULL_MINUS_BEAR', u'BULL_SCORED_MESSAGES',
       u'BEAR_SCORED_MESSAGES', u'BULL_BEAR_MSG_RATIO',
       u'TOTAL_SCANNED_MESSAGES'],
      dtype='object')

In [ ]:
rtwt=pd.read_csv(filepath_or_buffer=path+reTwt,delimiter=",",header=0)

In [7]:
stwt=pd.read_csv(filepath_or_buffer=path+stockTwt,delimiter=",",header=0)

In [7]:
ptwt['TIMESTAMP_UTC']=pd.to_datetime(arg=ptwt.TIMESTAMP_UTC,infer_datetime_format='true')

In [8]:
#just reorders column positions and selects required data
cols=['SYMBOL','TIMESTAMP_UTC','BULLISH_INTENSITY','BEARISH_INTENSITY','BULL_SCORED_MESSAGES','BEAR_SCORED_MESSAGES']
mini_twt=ptwt.reindex(columns=cols)
mini_twt.columns=['sym','date','bull','bear','volbull','volbear']

In [9]:
mini_twt.head()

     sym                date  bull  bear  volbull  volbear
0  10GEN 2011-04-08 04:00:00     0     0        0        0
1  10GEN 2011-04-16 04:00:00     0     0        0        0
2  10GEN 2011-04-17 04:00:00     0     0        0        0
3  10GEN 2011-04-20 04:00:00     0     0        0        0
4  10GEN 2011-07-19 04:00:00     0     0        0        0

TIMESERIES GRAPH AVERAGE SENTIMENT

In [10]:
miss_bull=mini_twt['volbull']==0
mini_twt['bull'].loc[miss_bull]=np.nan
miss_bear=mini_twt['volbear']==0
mini_twt['bear'].loc[miss_bear]=np.nan
mini_twt.head(15)

/usr/share/anaconda3/lib/python3.5/site-packages/pandas/core/indexing.py:117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

      sym                date  bull  bear  volbull  volbear
0   10GEN 2011-04-08 04:00:00   NaN   NaN        0        0
1   10GEN 2011-04-16 04:00:00   NaN   NaN        0        0
2   10GEN 2011-04-17 04:00:00   NaN   NaN        0        0
3   10GEN 2011-04-20 04:00:00   NaN   NaN        0        0
4   10GEN 2011-07-19 04:00:00   NaN   NaN        0        0
5   10GEN 2011-07-20 04:00:00   NaN   NaN        0        0
6   10GEN 2011-07-21 04:00:00   NaN   NaN        0        0
7   10GEN 2011-07-23 04:00:00  2.00  2.83        1        1
8   10GEN 2011-07-24 04:00:00   NaN   NaN        0        0
9   10GEN 2011-07-25 04:00:00   NaN   NaN        0        0
10  10GEN 2011-07-26 04:00:00   NaN   NaN        0        0
11  10GEN 2011-07-28 04:00:00   NaN   NaN        0        0
12  10GEN 2011-07-29 04:00:00   NaN   NaN        0        0
13  10GEN 2011-07-30 04:00:00  1.63   NaN        1        0
14  10GEN 2011-08-01 04:00:00   NaN   NaN        0        0

In [30]:
rep=mini_twt.groupby('date').agg([np.mean,np.std])
rep

                         bull                bear              volbull  \
                         mean       std      mean       std       mean
date
2010-11-30 05:00:00  1.828013  0.676154  1.708788  0.667921   1.161667
2010-12-01 05:00:00  1.869415  0.631881  1.518793  0.800271   3.704949
2010-12-02 05:00:00  1.902514  0.541316  1.548227  0.789321   4.151811
2010-12-03 05:00:00  1.910382  0.561781  1.545553  0.791285   3.916424
2010-12-04 05:00:00  1.820223  0.662060  1.122195  0.783930   1.069862
2010-12-05 05:00:00  1.860965  0.640720  1.628170  0.772603   1.654179
2010-12-06 05:00:00  1.929745  0.585383  1.567400  0.761526   4.004569
2010-12-07 05:00:00  1.827272  0.649510  1.669866  0.755053   3.662105
2010-12-08 05:00:00  1.842855  0.612905  1.613210  0.767895   3.713946
2010-12-09 05:00:00  1.849789  0.612555  1.548542  0.796721   3.714353
2010-12-10 05:00:00  1.834312  0.629297  1.615820  0.812065   3.479691
2010-12-11 05:00:00  1.734053  0.688369  1.654390  0.666370   1.147458
2010-12-12 05:00:00  1.745953  0.700457  1.622752  0.725374   1.559156
2010-12-13 05:00:00  1.901127  0.640897  1.721090  0.744368   4.045412
2010-12-14 05:00:00  1.892052  0.592444  1.645047  0.782884   3.556505
2010-12-15 05:00:00  1.862052  0.636273  1.748005  0.830978   3.439415
2010-12-16 05:00:00  1.862386  0.636798  1.644409  0.792593   3.830918
2010-12-17 05:00:00  1.873363  0.620324  1.694662  0.756963   3.600396
2010-12-18 05:00:00  1.792698  0.654821  1.484234  0.835720   1.126877
2010-12-19 05:00:00  1.802965  0.581979  1.701143  0.742419   1.214383
2010-12-20 05:00:00  1.930714  0.615764  1.719180  0.753568   3.525965
2010-12-21 05:00:00  1.845818  0.616636  1.652923  0.729947   3.671806
2010-12-22 05:00:00  1.907045  0.561590  1.541913  0.769881   3.354510
2010-12-23 05:00:00  1.859791  0.606644  1.547015  0.794864   3.093651
2010-12-24 05:00:00  1.858945  0.772158  1.579592  0.881749   0.814530
2010-12-25 05:00:00  1.810517  0.692996  1.876600  0.839452   0.551445
2010-12-26 05:00:00  1.623420  0.733873  1.817895  0.732405   1.108317
2010-12-27 05:00:00  1.904526  0.603670  1.598929  0.772129   3.587199
2010-12-28 05:00:00  1.904006  0.599014  1.517532  0.743957   3.411543
2010-12-29 05:00:00  1.901989  0.632683  1.488881  0.838987   3.761287
...                       ...       ...       ...       ...        ...
2015-05-30 04:00:00  2.074570  0.615120  2.105157  0.737435   2.271826
2015-05-31 04:00:00  1.983634  0.549266  1.901818  0.793007   3.214893
2015-06-01 04:00:00  1.955561  0.599394  1.719509  0.785563   4.541804
2015-06-02 04:00:00  1.895923  0.608988  1.787333  0.832870   4.932839
2015-06-03 04:00:00  1.918265  0.582862  1.899403  0.820600   5.023552
2015-06-04 04:00:00  1.923275  0.598407  1.854388  0.800415   4.807073
2015-06-05 04:00:00  1.922610  0.586929  1.851961  0.792138   4.537525
2015-06-06 04:00:00  1.772067  0.693171  1.840658  0.903415   1.781481
2015-06-07 04:00:00  1.896585  0.629412  1.878423  0.706987   1.952573
2015-06-08 04:00:00  1.916633  0.595197  1.884475  0.784047   4.624398
2015-06-09 04:00:00  1.914147  0.595475  1.904192  0.771465   4.595563
2015-06-10 04:00:00  1.919317  0.587728  1.882939  0.774806   5.034410
2015-06-11 04:00:00  1.943297  0.581283  1.934664  0.790051   4.714454
2015-06-12 04:00:00  1.899994  0.592358  1.916089  0.792291   4.139985
2015-06-13 04:00:00  1.842663  0.618236  1.921487  0.891888   1.469208
2015-06-14 04:00:00  2.000721  0.579685  1.954310  0.801428   2.205485
2015-06-15 04:00:00  2.030224  0.465546  2.011965  0.631566   8.324048
2015-06-16 04:00:00  2.158344  0.401976  1.973476  0.683996  10.540516
2015-06-17 04:00:00  2.217007  0.417677  2.031595  0.664319  12.270908
2015-06-18 04:00:00  2.142913  0.445913  2.016748  0.696772  13.659907
2015-06-19 04:00:00  2.092754  0.450479  2.032901  0.649527  10.600571
2015-06-20 04:00:00  2.292270  0.378728  2.469953  0.774164   7.223902
2015-06-21 04:00:00  2.091541  0.482594  2.300979  0.740430   4.568893
2015-06-22 04:00:00  2.115827  0.469423  1.996630  0.679709   8.753678
2015-06-23 04:00:00  2.137362  0.450996  1.876254  0.747325  13.059139
2015-06-24 04:00:00  2.123372  0.455228  1.900999  0.728724  13.126044
2015-06-25 04:00:00  2.082973  0.463698  1.956975  0.723831  11.673383
2015-06-26 04:00:00  2.416857  0.553471  1.989209  0.729403  10.065789
2015-06-27 04:00:00  2.437383  0.476061  2.225447  0.694632  10.564632
2015-06-28 04:00:00  2.106641  0.445085  2.191443  0.751600  13.988847

                                  volbear
                            std      mean        std
date
2010-11-30 05:00:00    9.706143  0.628333   5.603796
2010-12-01 05:00:00   58.138240  2.124183  34.189385
2010-12-02 05:00:00   65.262795  2.009285  33.958089
2010-12-03 05:00:00   59.833945  1.805637  28.212699
2010-12-04 05:00:00   12.517370  0.470349   5.304444
2010-12-05 05:00:00   21.551635  0.563401   7.178707
2010-12-06 05:00:00   60.781490  1.764975  29.786903
2010-12-07 05:00:00   56.292052  2.264748  37.235390
2010-12-08 05:00:00   55.709985  1.891480  30.344681
2010-12-09 05:00:00   53.190272  1.612436  24.754451
2010-12-10 05:00:00   50.335873  1.609768  25.256019
2010-12-11 05:00:00   13.094176  0.216102   2.538239
2010-12-12 05:00:00   18.334151  0.516202   6.534362
2010-12-13 05:00:00   59.877692  1.857210  31.515949
2010-12-14 05:00:00   53.859145  1.853276  28.979620
2010-12-15 05:00:00   49.421428  1.769920  27.974481
2010-12-16 05:00:00   55.813864  2.057005  32.036193
2010-12-17 05:00:00   53.896391  1.702770  28.524028
2010-12-18 05:00:00   14.005890  0.319069   4.109453
2010-12-19 05:00:00   15.184233  0.471506   6.247514
2010-12-20 05:00:00   52.711263  1.785612  29.510153
2010-12-21 05:00:00   56.548861  1.748458  29.154286
2010-12-22 05:00:00   50.030170  1.900097  29.074695
2010-12-23 05:00:00   43.718131  1.682540  25.812427
2010-12-24 05:00:00    9.045875  0.608547   7.169983
2010-12-25 05:00:00    5.865582  0.173410   1.976713
2010-12-26 05:00:00   11.244010  0.454545   4.848764
2010-12-27 05:00:00   49.437154  1.782149  25.567176
2010-12-28 05:00:00   49.966740  1.727616  26.641910
2010-12-29 05:00:00   54.081225  1.589517  24.973717
...                         ...       ...        ...
2015-05-30 04:00:00   30.945778  0.628669   9.782812
2015-05-31 04:00:00   51.736364  0.561716   9.922174
2015-06-01 04:00:00   92.955447  1.787671  39.823079
2015-06-02 04:00:00  103.221629  1.801386  39.491829
2015-06-03 04:00:00  103.956779  1.990627  43.315337
2015-06-04 04:00:00   98.058327  2.054634  44.741369
2015-06-05 04:00:00   90.904123  1.701292  36.509857
2015-06-06 04:00:00   23.749228  0.659788   9.545363
2015-06-07 04:00:00   30.728480  0.516331   8.733756
2015-06-08 04:00:00   95.139233  2.042108  43.793223
2015-06-09 04:00:00   98.941999  2.050612  44.508047
2015-06-10 04:00:00  107.160355  2.128277  48.602579
2015-06-11 04:00:00   99.929169  2.094947  45.921039
2015-06-12 04:00:00   83.192745  2.350980  44.356008
2015-06-13 04:00:00   21.889448  0.641740   9.752296
2015-06-14 04:00:00   32.728832  0.787563  12.846333
2015-06-15 04:00:00  181.663891  2.610554  68.306135
2015-06-16 04:00:00  220.022336  2.997507  76.310258
2015-06-17 04:00:00  259.413537  2.917727  79.442026
2015-06-18 04:00:00  280.138995  3.187535  78.500225
2015-06-19 04:00:00  218.823379  2.786667  69.981193
2015-06-20 04:00:00  120.391510  1.156467  25.565773
2015-06-21 04:00:00   82.215827  0.911256  19.226264
2015-06-22 04:00:00  210.420713  2.426513  66.274119
2015-06-23 04:00:00  271.151111  2.553317  65.719664
2015-06-24 04:00:00  262.963576  3.334282  83.810540
2015-06-25 04:00:00  243.488533  3.149295  80.577159
2015-06-26 04:00:00  202.689810  2.602105  67.279037
2015-06-27 04:00:00  176.018471  0.771453  17.196057
2015-06-28 04:00:00  232.997418  1.421147  30.879373

[1672 rows x 8 columns]

In [ ]:
plt.plot(rep.index,rep.bear['mean'],label='bearish',color='red')
plt.plot(rep.index,rep.bull['mean'],label='bullish',color='green')
plt.legend(loc='best')
plt.fill_between(rep.index, rep.bear['mean']-2*rep.bear['std'], rep.bear['mean']+2*rep.bear['std'], color='red', alpha=0.2)
plt.fill_between(rep.index, rep.bull['mean']-2*rep.bull['std'], rep.bull['mean']+2*rep.bull['std'], color='green', alpha=0.2)
plt.title('Time series of mean bearish and bullish sentiment with 95% CI')
plt.show()

THIS CREATES MULTIINDEX ON TIME AND SYMBOL

In [12]:
panel=panel.set_index(['SYMBOL','TIMESTAMP_UTC'])

In [14]:
panel

                            BULLISH_INTENSITY  BEARISH_INTENSITY
SYMBOL TIMESTAMP_UTC
10GEN  2011-04-08 04:00:00               0.00               0.00
       2011-04-16 04:00:00               0.00               0.00
       2011-04-17 04:00:00               0.00               0.00
       2011-04-20 04:00:00               0.00               0.00
       2011-07-19 04:00:00               0.00               0.00
       2011-07-20 04:00:00               0.00               0.00
       2011-07-21 04:00:00               0.00               0.00
       2011-07-23 04:00:00               2.00               2.83
       2011-07-24 04:00:00               0.00               0.00
       2011-07-25 04:00:00               0.00               0.00
       2011-07-26 04:00:00               0.00               0.00
       2011-07-28 04:00:00               0.00               0.00
       2011-07-29 04:00:00               0.00               0.00
       2011-07-30 04:00:00               1.63               0.00
       2011-08-01 04:00:00               0.00               0.00
       2011-08-02 04:00:00               0.00               0.00
       2011-08-05 04:00:00               0.00               0.00
       2011-08-06 04:00:00               0.00               0.00
       2011-11-06 04:00:00               0.00               2.83
       2011-11-08 05:00:00               0.00               2.83
       2011-11-10 05:00:00               0.00               1.96
       2011-11-21 05:00:00               0.00               0.00
       2011-11-22 05:00:00               0.00               0.00
       2011-11-23 05:00:00               0.00               0.00
       2011-11-28 05:00:00               0.00               0.00
       2012-01-07 05:00:00               0.00               0.00
       2012-01-08 05:00:00               0.00               0.00
       2012-01-15 05:00:00               0.00               0.00
       2012-01-24 05:00:00               0.00               0.00
       2012-01-30 05:00:00               0.00               0.00
...                                       ...                ...
ZZ     2015-03-02 05:00:00               0.00               0.00
       2015-04-07 04:00:00               0.00               0.00
       2015-04-21 04:00:00               0.00               0.00
       2015-05-05 04:00:00               0.00               0.00
       2015-05-07 04:00:00               0.00               0.00
       2015-05-11 04:00:00               0.00               0.00
       2015-05-14 04:00:00               0.00               0.00
       2015-05-20 04:00:00               0.00               0.00
       2015-05-21 04:00:00               0.00               0.00
       2015-05-23 04:00:00               0.00               0.00
       2015-05-24 04:00:00               0.00               0.00
       2015-05-31 04:00:00               0.00               0.00
       2015-06-05 04:00:00               0.00               0.00
       2015-06-10 04:00:00               0.00               0.00
       2015-06-12 04:00:00               0.00               0.00
       2015-06-13 04:00:00               0.00               0.00
       2015-06-15 04:00:00               0.00               0.00
       2015-06-16 04:00:00               0.00               0.00
       2015-06-17 04:00:00               0.00               0.00
       2015-06-18 04:00:00               0.00               0.00
       2015-06-19 04:00:00               0.00               0.00
       2015-06-20 04:00:00               0.00               0.00
       2015-06-21 04:00:00               0.00               0.00
       2015-06-22 04:00:00               0.00               0.00
       2015-06-23 04:00:00               0.00               0.00
       2015-06-24 04:00:00               0.00               0.00
       2015-06-25 04:00:00               0.00               0.00
       2015-06-26 04:00:00               0.00               0.00
       2015-06-27 04:00:00               0.00               0.00
       2015-06-28 04:00:00               0.00               0.00

[5555334 rows x 2 columns]

In [11]:
import quandl

ImportError: No module named 'quandl'