In [2]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
matplotlib.style.use('ggplot')

In [12]:
#how to create a Series
s=pd.Series([1,3,4,np.nan,5,8])

In [14]:
s

0     1
1     3
2     4
3   NaN
4     5
5     8
dtype: float64

In [68]:
#how to create a DataFrame
dates=pd.date_range('20000101',periods=9)
df=pd.DataFrame(np.random.randn(9,4),index=dates,columns=list('ABCD'))

In [69]:
df

                   A         B         C         D
2000-01-01 -1.562713 -0.715731 -0.949067  0.399745
2000-01-02  0.468954 -0.118286  0.127002  0.385566
2000-01-03 -0.081835 -0.262368 -0.686554 -0.592555
2000-01-04 -1.264786 -1.291058  0.600565  0.334477
2000-01-05 -0.560716  0.118650  1.559770 -0.834796
2000-01-06  0.913994  0.352224  0.300514  0.778434
2000-01-07 -0.643505  0.674025  1.714648 -0.524518
2000-01-08 -1.046943  0.052942 -0.382222 -0.346282
2000-01-09  0.096987  0.816454 -0.251784 -0.110061

In [18]:
df['2000-01':'2000-01-04']

                   A         B         C         D
2000-01-01  0.193471 -0.219542  1.419361 -0.990787
2000-01-02  0.422947  0.026119  0.834805  0.599021
2000-01-03  1.929653 -0.198232 -0.153435  0.382690
2000-01-04  0.187155  0.187613  1.242034 -1.188389

In [19]:
df['2000']

                   A         B         C         D
2000-01-01  0.193471 -0.219542  1.419361 -0.990787
2000-01-02  0.422947  0.026119  0.834805  0.599021
2000-01-03  1.929653 -0.198232 -0.153435  0.382690
2000-01-04  0.187155  0.187613  1.242034 -1.188389
2000-01-05  0.904376  0.774951 -0.270099 -1.738875
2000-01-06 -1.097730 -0.464927  0.165614 -0.746640

In [25]:
df.index.year

array([2000, 2000, 2000, 2000, 2000, 2000])

This shows how to create a multiindex based on dates and stock symbols

In [108]:
dates=pd.DatetimeIndex(['20010101','20010102','20010103','20010101','20010102','20010104','20010102','20010103','20010104'])
dates

DatetimeIndex(['2001-01-01', '2001-01-02', '2001-01-03', '2001-01-01',
               '2001-01-02', '2001-01-04', '2001-01-02', '2001-01-03',
               '2001-01-04'],
              dtype='datetime64[ns]', freq=None, tz=None)

In [40]:
sym=pd.Series(['goog','goog','goog','ge','ge','apl','mrq','mrq','mrq'])
sym

0    goog
1    goog
2    goog
3      ge
4      ge
5     apl
6     mrq
7     mrq
8     mrq
dtype: object

In [43]:
array=[sym,dates]
mindex=pd.MultiIndex.from_arrays(array,names=['sym','dates'])
mindex

MultiIndex(levels=[['apl', 'ge', 'goog', 'mrq'], [2001-01-01 00:00:00, 2001-01-02 00:00:00, 2001-01-03 00:00:00, 2001-01-04 00:00:00]],
           labels=[[2, 2, 2, 1, 1, 0, 3, 3, 3], [0, 1, 2, 0, 1, 3, 1, 2, 3]],
           names=['sym', 'dates'])

In [46]:
s=pd.Series(np.random.randn(9),index=mindex)
s

sym   dates
goog  2001-01-01    0.003060
      2001-01-02    0.562434
      2001-01-03   -0.037342
ge    2001-01-01   -0.277345
      2001-01-02   -1.318837
apl   2001-01-04    2.911909
mrq   2001-01-02    0.332969
      2001-01-03    0.203585
      2001-01-04    0.804903
dtype: float64

In [48]:
panel=pd.DataFrame({'bear' : np.random.randn(9), 'bull' : np.random.randn(9)}, index=mindex)
panel

                     bear      bull
sym  dates
goog 2001-01-01 -0.805949 -2.191743
     2001-01-02 -0.336090 -0.795111
     2001-01-03 -1.199509  0.240183
ge   2001-01-01  1.075182  0.386038
     2001-01-02  1.356323 -0.733781
apl  2001-01-04  1.116660  0.713058
mrq  2001-01-02 -0.690812 -1.045888
     2001-01-03  0.154481  0.090919
     2001-01-04  1.435864 -1.195886

In [51]:
panel.loc['goog']

                bear      bull
dates
2001-01-01 -0.805949 -2.191743
2001-01-02 -0.336090 -0.795111
2001-01-03 -1.199509  0.240183

In [58]:
panel.loc['goog']['bull']

dates
2001-01-01   -2.191743
2001-01-02   -0.795111
2001-01-03    0.240183
Name: bull, dtype: float64

In [109]:
df2=pd.DataFrame({'bear':np.random.randn(9),'bull':np.random.randn(9)})
df2['sym']=sym
df2['dates']=dates
df2

       bear      bull   sym      dates
0 -0.982481 -0.786623  goog 2001-01-01
1  0.374676 -1.138991  goog 2001-01-02
2 -0.697529 -0.046399  goog 2001-01-03
3 -0.830355  0.430338    ge 2001-01-01
4 -0.466159 -1.335782    ge 2001-01-02
5  0.414783 -0.065554   apl 2001-01-04
6 -0.243708 -0.352232   mrq 2001-01-02
7  0.217252  0.488872   mrq 2001-01-03
8 -0.168082 -0.623941   mrq 2001-01-04

In [98]:
#groupby splits DataFrame into sub tables defined by groups of the specified column on which a function can be applied.
#Then the result is combined back. 
df2.groupby('sym').size()

sym
apl     1
ge      2
goog    3
mrq     3
dtype: int64

In [101]:
df2.groupby('sym').mean()

          bear      bull
sym
apl  -0.604827  1.243361
ge    0.070396  0.107975
goog -0.416915  0.329761
mrq   0.086901 -0.581046

In [110]:
df2.groupby('dates').mean()

                bear      bull
dates
2001-01-01 -0.906418 -0.178142
2001-01-02 -0.111730 -0.942335
2001-01-03 -0.240138  0.221237
2001-01-04  0.123351 -0.344747

In [136]:
rep=df2.groupby('dates').agg([np.mean,np.std])
rep

                bear                bull
                mean       std      mean       std
dates
2001-01-01 -0.906418  0.107569 -0.178142  0.860521
2001-01-02 -0.111730  0.435677 -0.942335  0.520430
2001-01-03 -0.240138  0.646848  0.221237  0.378494
2001-01-04  0.123351  0.412148 -0.344747  0.394839

In [139]:
rep.columns

MultiIndex(levels=[['bear', 'bull'], ['mean', 'std']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [148]:
#this gives about 95% CI around the index
rep['bear']['std']

dates
2001-01-01    0.215138
2001-01-02    0.871354
2001-01-03    1.293695
2001-01-04    0.824296
Freq: D, Name: std, dtype: float64

In [231]:
plt.plot(rep.index,rep.bear['mean'],label='bearish')
plt.plot(rep.index,rep.bull['mean'],label='bullish')
plt.legend(loc='best')
plt.fill_between(rep.index, rep.bear['mean']-2*rep.bear['std'], rep.bear['mean']+2*rep.bear['std'], color='r', alpha=0.2)
plt.fill_between(rep.index, rep.bull['mean']-2*rep.bull['std'], rep.bull['mean']+2*rep.bull['std'], color='b', alpha=0.2)
plt.title('Time series of mean bearish and bullish sentiment with 95% CI')
plt.show()

In [23]:
dd=pd.DataFrame({'A':['a','a','b'],'B':[1,2,3],'C':[4,5,6]})
dd

   A  B  C
0  a  1  4
1  a  2  5
2  b  3  6

In [24]:
dd['S']=dd['B']="s"
dd

   A  B  C  S
0  a  s  4  s
1  a  s  5  s
2  b  s  6  s

In [25]:
for col in dd.columns:
    print(dd[col])

0    a
1    a
2    b
Name: A, dtype: object
0    s
1    s
2    s
Name: B, dtype: object
0    4
1    5
2    6
Name: C, dtype: int64
0    s
1    s
2    s
Name: S, dtype: object

In [21]:
dd['sample']='train'
dd=dd.set_index(['sample',dd.index])

In [22]:
dd

          A  B  C
sample
train  0  a  1  4
       1  a  2  5
       2  b  3  6

In [15]:
dd['index']=(dd.index).values
dd

   A  B  C  index
0  a  1  4      0
1  a  2  5      1
2  b  3  6      2

In [256]:
dd.set_index(['index','A','B'])

           C
index A B
0     a 1  4
1     a 2  5
2     b 3  6

In [ ]:
def loop(str,list)
    mapping[str]

In [ ]:
a=[1,2,3]
a